:root {
  --color-primary: #8625A4;
  --color-primary-alt: #6A0DAD;
  --color-secondary: #333399;
  --color-secondary-alt: #2A11B9;
  --color-secondary-light: #4A90E2;
  --color-tertiary: #FF00CC;
  --color-tertiary-alt: #FF78e4;
  --color-shape: #8E2DE2;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-shape-alt: #4A00E0;
  --on-primary: #100e17;
  --background: #131214;
  --on-focus: #FF00CC;
  --on-focus-alt: #FFD700;
  --on-background: #eae6f2;
  --surface: #1d1c1f;
  --on-surface: #dddae5;
  --on-surface-variant: #7b7980;
  --on-surface-variant-2: #b9b6bf;
  --outline: #3e3d40;
  --white: hsl(0, 0%, 100%);
  --white-alpha-4: hsla(0, 0%, 100%, 0.04);
  --white-alpha-8: hsla(0, 0%, 100%, 0.08);
  --black-alpha-10: hsla(0, 0%, 0%, 0.1);

  --gradient-1: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
  --gradient-2: linear-gradient(180deg, hsla(260, 5%, 12%, 0) 0%, hsla(260, 5%, 12%, 0.8) 65%, hsl(260, 5%, 12%) 100%);

  --heading: 5.6rem;
  --title-1: 2rem;
  --title-2: 1.8rem;
  --title-3: 1.6rem;
  --body-1: 2.2rem;
  --body-2: 2rem;
  --body-3: 1.6rem;
  --label-1: 1.4rem;
  --label-2: 1.2rem;

  --weight-regular: 400;
  --weight-semiBold: 600;

  --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);
  --shadow-3: 0px 10px 30px 0px rgba(67, 80, 98, 0.24), 0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;

  --radius-28: 28px;
  --radius-16: 16px;
  --radius-pill: 500px;
  --radius-circle: 50%;

  --transition-short: 100ms ease;

  --linear-gradient-main: linear-gradient(to right, #333399, #ff00cc);
}

/* Reset CSS básico */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

ul,
ol {
  list-style: none;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Work Sans', sans-serif;
  margin-top: 0;
}

a {
  color: var(--color-tertiary);
  transition: all .3s ease-in-out;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a:focus,
button:focus {
  outline: none;
}

.btn:hover,
a:hover {
  text-decoration: none;
  color: var(--color-secondary);
}

img {
  max-width: 100%;
}

.bg-fixed {
  background-size: cover;
}

.bg-grey {
  background-color: #f7f8f9;
}

.fs-40 {
  font-size: 40px;
}

section {
  position: relative;
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title-wrap,
.section-title {
  text-align: center;
}

.section-title {
  color: var(--color-dark);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.shadow {
  box-shadow: var(--shadow-3);
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: calc(1.3rem + .6vw);

}

/*==========================================
  =            NAVIGATION                  =
  ==========================================*/

#header-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 11;
  padding: 1rem 2rem;
  background: var(--linear-gradient-main);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  color: var(--color-light);
  font-size: 2rem;
  text-decoration: none;
}

.brand-title {
  font-weight: bold;
  margin: 0;
}

.menu-toggle-checkbox {
  display: none;
}

.navbar-toggler {
  font-size: 2rem;
  color: var(--color-light);
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.navbar-collapse {
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
  padding: 0.5rem;
}

.nav-item a {
  color: var(--color-light);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.nav-item a:hover {
  opacity: 0.7;
}

.only-desktop {
  display: none;
}

.search-icon {}


/*==============================
  =            BUTTON            =
  ==============================*/
.btn {
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 9px 25px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.btn-primary {
  display: inline-block;
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
  color: var(--color-light);
}

.btn-primary:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-light);
}

.btn-outline-primary {
  color: var(--color-light);
  background-color: transparent;
  background-image: none;
  border-color: var(--color-light);
}

.btn-outline-primary:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-light);
}

.btn-outline-secondary {
  color: var(--color-light);
  background-color: transparent;
  background-image: none;
  border-color: var(--color-light);
}

.btn-outline-secondary:hover {
  color: var(--color-light);
  background-color: var(--color-tertiary);
  color: var(--color-light);
}

.btn-shadow {
  box-shadow: -5px 8px 20px 0px rgba(229, 16, 2, 0.15);
}

.btn-icon {
  color: #000;
}

.btn-link {
  color: var(--color-tertiary);
}

/*==========================================
  =            BUNNER HOME                =
  ==========================================*/

.bunner {
  color: var(--color-light);
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.bunner .container {
  position: relative;
  z-index: 1;
}

.bunner:before {
  position: absolute;
  display: block;
  content: "";
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-tertiary);
  background: -webkit-linear-gradient(to right, var(--color-secondary), var(--color-tertiary));
  background: var(--linear-gradient-main);
}

.bunner h2 {
  line-height: .9;
  font-weight: bold;
  display: inline-block;
  border: 15px solid var(--color-light);
  padding: 30px;
  font-size: 2rem;
  opacity: 0;
  animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
  animation-delay: .8s;
}


.overlay {
  color: var(--color-light);
}

.overlay:before {
  position: absolute;
  display: block;
  content: "";
  opacity: 0.9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-tertiary);
  background: -webkit-linear-gradient(to right, var(--color-secondary), var(--color-tertiary));
  background: linear-gradient(to right, var(--color-secondary), var(--color-tertiary));
}

.overlay-2:before {
  position: absolute;
  display: block;
  content: "";
  opacity: 0.9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-secondary-alt);
  background: -webkit-linear-gradient(to right, var(--color-primary), var(--color-secondary-alt));
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary-alt));
}

.overlay.bg-white {
  color: #000;
}

.overlay.bg-white:before {
  background: var(--color-light);
  opacity: .7;
}

.text-white {
  color: var(--color-light);
}

/*==========================================
  =            FLOATING SHAPES            =
  ==========================================*/
.rectangle-1 {
  width: 2000px;
  height: 400px;
  background: var(--color-shape);
  background: -webkit-linear-gradient(to right, var(--color-shape-alt), var(--color-shape));
  background: linear-gradient(to right, var(--color-shape-alt), var(--color-shape));
  transform-origin: 50% 150% 0;
  position: absolute;
  left: 0;
  z-index: 0;
  transform: scale(1) rotate(-10deg);
}

.rectangle-2 {
  width: 2000px;
  height: 400px;
  background: var(--color-shape);
  background: -webkit-linear-gradient(to right, var(--color-shape-alt), var(--color-shape));
  background: linear-gradient(to right, var(--color-shape-alt), var(--color-shape));
  transform-origin: 65% 100% 0;
  position: absolute;
  right: 0;
  z-index: 0;
  transform: scale(1) rotate(50deg);
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-100vw) rotate(-15deg);
  }

  to {
    opacity: 1;
    transform: translateX(0) rotate(-15deg);
  }
}

@keyframes grow1 {
  from {
    opacity: 0;
    transform: scale(2) rotate(-10deg);
  }

  to {
    opacity: 1;
    transform: scale(1) rotate(-10deg);
  }
}

@keyframes grow2 {
  from {
    opacity: 0;
    transform: scale(2) rotate(50deg);
  }

  to {
    opacity: 1;
    transform: scale(1) rotate(50deg);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rectangle-1 {
  opacity: 0;
  animation: grow1 ease 1s forwards;
  box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important;
}

.rectangle-2 {
  opacity: 0;
  animation: grow2 ease 1s forwards;
  box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important;
}

.rectangle-transparent-1 {
  width: 500px;
  height: 500px;
  border: 15px solid rgba(255, 255, 255, 0.08);
  position: absolute;
  left: -5%;
  bottom: -10%;
  display: block;
  animation: floating-slow ease-in-out 12s infinite;
}

.rectangle-transparent-2 {
  width: 600px;
  height: 600px;
  border: 15px solid rgba(255, 255, 255, 0.08);
  position: absolute;
  right: -10%;
  top: 5%;
  display: block;
  animation: floating-slow ease-in-out 12s infinite;
}

@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(25deg);
  }

  25% {
    transform: translate(5%, 15%) rotate(25deg);
  }

  50% {
    transform: translate(10%, 5%) rotate(25deg);
  }

  75% {
    transform: translate(0%, 15%) rotate(25deg);
  }

  100% {
    transform: translate(0%, 0%) rotate(25deg);
  }
}

@keyframes floating-slow {
  0% {
    transform: translate(0%, 0%) rotate(25deg);
  }

  25% {
    transform: translate(1%, 3%) rotate(25deg);
  }

  50% {
    transform: translate(2%, 1%) rotate(25deg);
  }

  75% {
    transform: translate(0%, 3%) rotate(25deg);
  }

  100% {
    transform: translate(0%, 0%) rotate(25deg);
  }
}

.floating-object {
  position: absolute;
}

.floating-object-1 {
  right: 0;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 6s infinite;
}

.floating-object-1 img {
  height: 50px;
  width: 50px;
  transform: rotate(30deg);
}

.floating-object-2 {
  top: 50%;
  left: 15%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 8s infinite;
}

.floating-object-2 img {
  width: 70px;
  height: 70px;
  transform: rotate(15deg);
}

.floating-object-3 {
  top: 80%;
  right: 35%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 10s infinite;
}

.floating-object-3 img {
  width: 80px;
  height: 80px;
  transform: rotate(40deg);
}

.floating-object-4 {
  top: 60%;
  right: 15%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 5s infinite;
}

.floating-object-4 img {
  width: 45px;
  height: 45px;
  transform: rotate(-40deg);
}

.floating-object-5 {
  top: 30%;
  left: 10%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 5s infinite;
}

.floating-object-5 img {
  width: 45px;
  height: 45px;
  transform: rotate(-10deg);
}

.floating-object-6 {
  top: 20%;
  left: 73%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 5s infinite;
}

.floating-object-6 img {
  width: 95px;
  height: 95px;
  transform: rotate(-180deg);
}

.floating-object-7 {
  top: 80%;
  left: 15%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 5s infinite;
}

.floating-object-7 img {
  width: 40px;
  height: 40px;
  transform: rotate(-40deg);
}


/*==========================================
  =            SIDEBAR SEARCH               =
  ==========================================*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
  color: var(--color-light);
}

.sidenav-content {
  padding: 8px 32px;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.sidenav.in .sidenav-content {
  transform: translateY(0);
  opacity: 1;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: color 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#side-search-close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-text span i {}

.form-control {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.form-control:focus {
  border: 1px solid var(--on-focus);
  outline: none;
}

.input-group-text {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.form-control {
  background-color: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  padding: 10px;
  width: 100%;
}

.input-group-text {
  background: transparent;
  color: var(--color-light);
  border: 1px solid var(--color-light);
  padding: 10px;
}

/*================================
=         INTRODUCTION           =
================================*/
.introduction {
}

.introduction-header {
}

.section-sub-title {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}

.introduction-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}

.introduction-item {
  width: 18.75rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  background: var(--color-light);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all .2s ease-in-out 0s !important;
}

.introduction-item:hover .overlay-card {
  opacity: 1;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.icon {
  width: 50px;
  height: auto;
}

.overlay-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/border-png.png');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.introduction-item:hover .introduction-content {
  transform: translateY(-40px);
}

.introduction-content h4 {
  text-align: center;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.introduction-content p {
  text-align: center;
  color: #666;
  font-size: 0.875rem;
}

/*==========================================
  =         NEWSLETTER SECTION             =
  ==========================================*/
.newsletter-section {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: var(--color-light);
  text-align: center;
  min-height: 300px;
}


.newsletter-container {
  position: relative;
  z-index: 1;
  background-image: var(--linear-gradient-main);
  opacity: 0.9;
  padding: 60px 20px;
}

.section-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

#email-newsletter {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid var(--color-light);
  background: rgba(255, 255, 255, 0.801);
  color: #333030;
  border-radius: var(--radius-28);
  margin-right: 10px;
  width: 250px;
}

#email-newsletter:hover::placeholder {
  color: #000;
}

.newsletter-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-light);
  border-radius: var(--radius-28);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.newsletter-btn:hover {
  color: var(--color-light);
  background-color: var(--color-secondary);
}

/*==========================================
  =       GASTRONOMIES SECTION             =
  ==========================================*/


body {
  font-family: Arial, sans-serif;
  color: var(--color-light);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gastronomies {
  display: flex;
  flex-direction: column;
}

.gastronomy {
  position: relative;
  padding: 50px 0;
  background-size: cover;
  background-attachment: fixed;
}

.gastronomy.overlay {
  position: relative;
  background-image: url('img/bg-1.jpg');
  background-size: cover;
}

.gastronomy.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--linear-gradient-main);
  z-index: 1;
}

.gastronomy.overlay>* {
  position: relative;
  z-index: 2;
}


.overlay {
  background-color: var(--linear-gradient-main);
  display: flex;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  align-items: center;
}

.content-alt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  align-items: center;
}

.gastronomy-item {
  padding: 20px;
  color: var(--color-light);
}

.gastronomy-item h4 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--color-light);
}

.gastronomy-item p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.gastronomy-item.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gastronomy-item img {
  max-width: 100%;
  border-radius: 8px;
}

.custom-button {
  background-color: transparent;
  border: 2px solid var(--color-light);
  border-radius: var(--radius-28);
  color: var(--color-light);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.custom-button:hover {
  background-color: var(--color-tertiary);
  color: var(--color-light);
}

.custom-button-alt {
  background-color: transparent;
  border: 2px solid var(--color-light);
  border-radius: var(--radius-28);
  color: var(--color-light);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.custom-button-alt:hover {
  background-color: var(--color-secondary-alt);
  color: var(--color-light);
}

/*==========================================
  =           FOOTER SECTION               =
  ==========================================*/

.footer {
  margin: 1rem 0;
  padding: 2rem 1rem;
  color: #000000;
  font-family: Arial, sans-serif;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}

.column-center {
  text-align: center;
}

.copyright {
  font-size: 0.875rem;
  color: #aaa;
  margin: 0;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-nav a i {
  color: var(--color-primary);
}

.footer-nav a i:hover {
  color: var(--color-secondary-alt);
}

.footer-link {
  color: var(--color-light);
  font-size: 1.5rem;
  transition: color 0.3s;
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer-link:hover {}

.column-left {
  text-align: left;
}

.column-right {
  text-align: right;
}

/*==========================================
=            MEDIA QUERIES               =
==========================================*/

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .newsletter-btn {
    margin-top: 0.75rem;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 768px) {
  .column {
    width: 100%;
  }

  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: inline;
  }

  .navbar-collapse {
    display: none;
    flex-direction: column;
    background: var(--linear-gradient-main);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
  }

  .menu-toggle-checkbox:checked~.navbar-collapse {
    display: flex;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .column-left,
  .column-center,
  .column-right {
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    align-items: center;
  }

  .content-alt {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    width: 100%;
    padding: 20px;
    align-items: center;
  }

  .gastronomy-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gastronomy-item p {
    text-align: justify;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .bunner {
    min-height: 500px;
  }
}

@media (min-width: 768px) {
  .only-desktop {
    display: block;
  }
}

@media (max-width: 767px) {
  .bunner h2 {
    font-size: 1.6rem;
  }

  .grid-item {
    width: 100%;
  }

  .progress {
    height: 30px;
    font-size: 16px;
  }
}